.banner{
    width:135vw;
    height: 800px;
}

.img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 769px) {
    .banner{
        width:100vw;
        height: 800px;
    }
    
  }
  